<ng-container>
    <div class="temperatur">
        <h5>{{activeHotelInformation.weather.title}}</h5>
        <span class="w-line"> </span>
        <span class="cloud"> </span>
        <h2>{{activeHotelInformation.weather.temperature}}<sup class="degree">°</sup></h2>
        <h6>Water {{activeHotelInformation.weather.water}}<sup class="degree">°</sup></h6>
    </div>
    <div class="teddy-bear">
        <div class="teddy-text">
            <h4>Nam libero voluptatem</h4>
            <span class="w-line"> </span>
            <img [src]="activeHotelInformation.img" alt=""  class="img-responsive">
        </div>
        <div class="teddy-follow">
            <ul>
                <li class="folw-h"><h3>{{activeHotelInformation.social_info.followers}}</h3>
                    <p>Followers</p>
                </li>
                <li><h3>{{activeHotelInformation.social_info.following}}</h3>
                    <p>Following</p>
                </li>
            </ul>
        </div>
    </div>
</ng-container>
